<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="mySystem">
    <!-- provedor/implementacao do JPA -->
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <!-- entidade mapaeada -->
    <class>br.com.utfpr.beans.Admin</class>
    <class>br.com.utfpr.beans.Chamada</class>
    <class>br.com.utfpr.beans.Escola</class>
    <class>br.com.utfpr.beans.Oficina</class>
    <class>br.com.utfpr.beans.Pessoa</class>
    <class>br.com.utfpr.beans.Supervisor</class>
    <class></class>
     <properties>
      <!-- dados da conexao -->
      <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
      <property name="hibernate.connection.url" value="jdbc:mysql://localhost/aluno"/>
      <property name="hibernate.connection.username" value="root"/>
      <property name="hibernate.connection.password" value=""/>
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
      <!--  propriedades do hibernate -->
      <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect"/>
      <property name="hibernate.show_sql" value="true"/>
      <property name="hibernate.format_sql" value="false"/>
      <!--  atualiza o banco, gera as tableas se for preciso -->
      <property name="hibernate.hbm2ddl.auto" value="update"/>
    </properties>
  </persistence-unit>
</persistence>
